# 测试环境配置
SUI_NETWORK=devnet

# 测试私钥
TEST_PRIVATE_KEY=

# 包ID
PACKAGE_ID=

# 发布者权限对象ID (Publisher)
PUBLISHER_ID=

# 管理员权限对象ID (AdminCap) - 只有部署者拥有
ADMIN_CAP_ID=

# 全局配置对象ID (GlobalConfig) - 共享对象，任何人都可以读取
GLOBAL_CONFIG_ID=